*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: "Source Sans Pro", sans-serif;
    --ff-secondary: font-family: 'Montserrat', sans-serif;

    --fw-reg:300;
    --fw-bold:900;

    --clr-light:#fff;
    --clr-dark:#303030;
    --clr-accent:#c8ff00;

    --fs-h1:3rem;
    --fs-h2:2.25rem;
    --fs-h3:1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgb(0,0,0,.25),
    0.125em 0.125em 0.25em rgb(0,0,0,.15);

    --bs-light: 0.25em 0.25em 0.75em rgba(247, 243, 243, 0.25),
    0.125em 0.125em 0.25em rgba(146, 234, 244, 0.15);
}

@media (min-width:800px) {
    :root {
        --fs-h1:4.5rem;
        --fs-h2:3.75rem;
        --fs-h3:1.5rem;
        --fs-body: 1.125rem;
    }
}
html {
    scroll-behavior: smooth;
}

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin:0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height:1.6;
}

section{
    padding: 5em 2em;
}
img{
    display:block;
    max-width:100%;
}

h1,h2,h3 {
    line-height: 1.1;
    margin:0;
}

strong{
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 2px;
}
.btn {
    display: inline-block;
    padding: .5em 1.5em;
    color: var(--clr-dark);
    background: var(--clr-accent);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
    margin: 2em;
}

 .nav-btn{
    background-color: var(--clr-light);
    border: 1px solid #adff2f;
    shadow: var(--bs-dark);
   
    z-index:200;
    font-size: 10px;
}

header{
    box-shadow: 0 2px 5px 0.5px rgba(0,0,0,.2);
    width:100%;
}

.logo{
    margin:0;
    width:50px;
    height:50px;
    padding:0;
}
.nav-btn:hover{
    background-color: var(--clr-accent)
}

.nav__section-link{
    display:flex;
   align-items: center;
}

.btn:hover {
    transform:scale(1.1);
    border-radius: 5px;
    color:var(--clr-dark);
    box-shadow: var(--bs-light);
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}

.section__title{
margin-bottom:.25em;

}

.section__title--intro {
    font-weight: var(--fw-reg);
    z-index: 10;
    
}

.section__title--intro strong{
    display:block;
}

.section__subtitle{
margin:0.5em;
font-size : var(--fs-h3);

}

.section__subtitle--intro{
    display:inline-block;
}

.section__subtitle--intro,
.section__subtitle--about{
background: var(--clr-accent);
font-family:var(--ff-secondary);
margin-bottom:1em;
padding:0 1em;
text-align:left;
}




/* Intro section */

.intro {
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.intro__img{
width: 200px;
height: 200px;
bottom: 50px;
}
.section__subtitle--intro {
width:100%;
align-self: flex-start;
}

.section__title--intro{
    padding-top: 1em;
    align-self: flex-start;
}

@media (min-width:800px){
    .logo{
        margin:0;
        width:100px;
        height:100px;
        padding:0;
        
    }
    .intro{
        display: -ms-grid;
        display: grid;
        grid-template-areas: 
        "img  title"
        "img  subtitle"
        ;
        grid-column-gap:1em ;
        grid-template-columns: min-content max-content;
        -ms-grid-columns:min-content max-content;
        margin: 0 auto;
        width: min-content;
top: 6em;

    }
    .intro__img{
        grid-area: img;
        min-width: 250px;
        position:relative;
        z-index:-1;
       
    }
    .section__subtitle--intro{
        align-self: start;
        grid-column: -1/ 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left:-1.5em;
        width: calc(100% + 1.5em);  
        bottom: 1.85em; 
         
}
}
.testimonials{
    background-color: var(--clr-dark);
    background-size: cover;
    color: var(--clr-light);
    background-blend-mode:soft-light;
    /* opacity: 0.9; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial_section{
    display: flex;
    flex-direction: column;
}

.my-services  {
    background-color: var(--clr-dark);
    background-image: url("https://kdlpathology.com/wp-content/uploads/2017/08/eye-melanoma-300x201-300x201.jpg") ;
    background-size: cover;
    color: var(--clr-light);
    background-blend-mode:soft-light;
    /* opacity: 0.9; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section__title--services {
    color: var(--clr-accent);
    position:relative;
}
.section__title--services::after{
    content: " ";
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.section__title--testimonials{
font-family:var(--ff-secondary) ;
font-weight: 400;
color:var(--clr-accent)
}
.service{
    max-width: 500px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
justify-content: center;
align-items: center;
}

h3{
color: var(--clr-light);
font-weight: 100;
font-family:var(--ff-primary) ;
font-size: 1.8em;
padding:.5em 0;
}

.service h3{
    font-weight: var(--fw-bold);
}

.testimonial__title{
    color: var(--clr-accent);
    letter-spacing: .1em;
padding-top:1.5em;
margin:0;
text-transform: uppercase;
    }

.services{
    margin-bottom: 6em;
}

.testimonial_img{
    border-radius: 50%;
    height: 200px;
    width:200px;
    margin: 1em;
}

.my-services .testimonials{
    background-color: var(--clr-dark);
}

@media (min-width:800px){


    .nav-btn{
        font-size: 20px;
        border: 2px solid #adff2f;
        box-shadow: var(--bs);
        border-radius:5px;
       
            }

.services{
    display: flex;
    max-width:1000px;
   margin: 0 auto;
}

.testimonial_section{
flex-direction: row;

}


.service + .service{
    margin-left: 2em;
    padding: 1em;

}
}

.about-me {
    max-width:1000px;
    margin: 0 auto;
}
.about-me__img{
    box-shadow: var(--bs);
    position: relative;
    z-index:2;
}

.testimonial_img{
    box-shadow: var(--bs);
    position: relative;
    min-width:200px;
}

@media (min-width:800px){
    .nav-btn{
  position: absolute;
  transform:translateX(60%);
  font-size: 1em;
        }

        .nav-btn:hover{
            transform:translateX(60%);
        }
   
.nav-toggle{
    bottom:35px;
}

    .about-me {
        display: grid;
grid-template-columns: 1fr 200px;
grid-template-areas: 
"title img"
"subtitle img"
"text img";
grid-column-gap:2em;

    }

    .section__title--about{
        grid-area: title;
    }

    .section__subtitle--about{
grid-column: 1/ -1;
grid-row: 2;
position: relative;
left: -1em;
width: calc(100% + 2em);
padding-left: 1em;
padding-right: calc(200px + 4em);

    }

    .about-me__img{
       grid-area: img;
    }
}


.my-work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.section__subtitle--work{
    color: var(--clr-accent);
    font-weight: var(--fw-reg);
    margin-bottom: center;
    font-size: var(--fs-h2);
padding:0;
margin-top:0;
}

.section__subtitle--work--discovery{
    color: var(--clr-dark);
    font-weight: var(--fw-reg);
    margin-bottom: center;
    font-size: var(--fs-h3);
    letter-spacing: .04em;
    background: var(--clr-accent);
    box-shadow: var(--bs-light);
    text-decoration-line: none;
    padding: 0.5em 2em;
    border-radius: 20px;
    margin-top: 0;
}


header{
    display:flex;
    
   padding-left:1em;
position: fixed;
z-index:200;
background: var(--clr-light);
}

.logo{
    justify-self: flex-start;
    padding: 1em;
}



.nav{
    position:fixed;
    background-color: var(--clr-dark);
    color:var(--clr-light);
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:300;
   
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav__list{
list-style: none;
display:flex;
height:100%;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
margin:0;
padding:0;

}

.nav__link{
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;
}

.nav__link:hover{
    color:var(--clr-accent)
}

.nav-toggle{
    padding:.5em;
    border:0;
    background:transparent;
    cursor:pointer;
position: absolute;
right: 1em;
top:1em;
z-index:1000;
}

.nav-open .nav{
transform: translateX(0);
}

.nav-open .nav-toggle{
    position: fixed;
}
.nav-open .hamburger {
    transform: rotate(.625turn)
}

.nav-open .hamburger::before{
    transform: rotate(90deg) translateX(-6px);
}
.nav-open .hamburger::after{
    opacity:0;
}

.hamburger{
    display: block;
    position:relative;
    margin-top: 0.5em;;
}

.hamburger,
.hamburger::before,
.hamburger::after {
background: var(--clr-accent);
width: 2em;
height:3px;
border-radius: 1em;
transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: " ";
    position:absolute;
    left:0;
    right:0;
}

.hamburger::before{
    top:6px;
}
.hamburger::after{
    bottom:6px;
}

.portfolio {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 5em;
}

.portfolio__item {
    background: var(--clr-dark);
overflow:hidden;
position: relative;
display: flex;
}

.portfolio__img {
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
    opacity 250ms linear;
border: 10px solid var(--clr-dark);
width: 300px;
height: 300px;

}

.portfolio__item:focus{
    position:relative;
    z-index:2;
}

.portfolio__img:hover,
.portfolio__item:focus .portfolio__img{
    transform: scale(1.0);
    opacity: 0.2;
    shadow: var(--bs);
    border-radius: 50%;
}



.img__description {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    color:var(--clr-dark);
    visibility: hidden;
    opacity: 0;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
    font-family: var(--ff-primary);
    font-size: 30px;
    font-weight: var(--fw-reg);
    letter-spacing: .15em;
    text-transform: uppercase;
    background: var(--clr-accent);
    margin: 10px;
    width:100%;
  }

  
  .portfolio__item:hover .img__description {
    visibility: visible;
    opacity: 1;
    
  } 


.footer{
    background: #111;
    color: var(--clr-accent);
    text-align:center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link{
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding:0;
}

.social-list__link{
padding: 0.5em;
}

.social-list__item{
    
    margin: 0 0.5em;
    
}

.footer__link:hover,
.socila-list__link:hover{
opacity:.7;
}

.footer__link:hover{
    
    
    text-decoration: underline;
}

.portfolio-item-individual{
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}


.portfolio-item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-item-individual img {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}